:root {
  --container-border-radius: 1rem;
}



* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   display: grid;
   grid-template-columns: 70px auto;
}

.nav {
   position: sticky;
   top: 0;
   left: 0;
   height: 100vh;
   border-radius: 0 var(--container-border-radius) var(--container-border-radius) 0;
}

.nav-icon {
   width: 50px;
   height: 50px;
   transition: .2s;
   border-radius: var(--container-border-radius);
   margin: 10px auto;
   justify-content: center;
   align-items: center;
}

.content-parent {
   height: 100vh;
   padding: .6rem;
}

.content {
   height: 100%;
   overflow: scroll;
   padding: 0.6em;
   border-radius: var(--container-border-radius);
   position: relative;
}

.page {
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   padding: 1rem;
}

.page-active {
   display: block;
}


fieldset {
   margin: 0.5em .5em;
   padding: 1rem;
   border-radius: var(--container-border-radius);
   border: solid .2rem #222;
}

legend {
   background-color: #222;
   color: #fff;
   padding: .4rem .8rem;
   margin: auto;
   border-radius: var(--container-border-radius);
}

input {
   padding: 0.5rem 0.6em;
   border: solid 0.1em #666;
   border-radius: var(--container-border-radius);
   transition: 0.15s;
}

input:focus {
   border: solid 0.1em transparent;
   outline: none;
   box-shadow: 0 0 0 0.2em #ddd;
}

button {
   margin: 0.17em 0.2em;
   padding: 0.3em 0.7em;
   background-color: transparent;
   color: #222;
   border-radius: var(--container-border-radius);
   font-family: sans-serif;
   font-weight: 600;
   border: solid 0.2rem #222;
   transition: 0.2s;
}

button:hover {
   color: #fff;
   border: solid 0.2em transparent;
   background-color: #222;
}

button:active {
   transform: scale(1.05);
}

button:focus {
   outline: none;
   box-shadow: 0 0 0 0.2em #bbb;
}

button:disabled {
   background-color: #ccc;
   border-color: #ccc;
   color: #444;
   box-shadow: none;
}

button:disabled:active {
   transform: none;
}


/* Specific Styles */
.activity {
   position: relative;
   margin: .4rem .6rem;
   padding: 1rem 1.6rem;
   box-shadow: 0 0.1em 0.3em #ddd;
   border-radius: var(--container-border-radius);
}

.activity-name {
   font-weight: 700;
   font-size: 110%;
}

.avgtimeblock {
   padding: 0.4em 0.7em;
   margin: 0.3em 0;
   border: solid 0.12em #eee;
   border-radius: var(--container-border-radius);
}

.controls {
   margin: 1rem;
   padding: 0 0.3em;
}

.controls * {
   box-sizing: content-box;
}

.control-button {
   margin: 0 .2rem;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   height: 2rem;
   width: 2rem;
   padding: 0.6em;
   background-color: #ff584e;
   color: #fff;
   font-family: monospace;
   font-size: 0.8em;
   border-radius: 50%;
   font-weight: 900;
   transition: .1s;
}

.control-button:hover {
   transform: scale(1.1);
}

.control-pause { background-color: #5d43fe; transform: scale(1.3); }
.control-pause:hover { transform: scale(1.45); }
.control-finish { background-color: #40f780; }
.control-cancel { background-color: #f840ba; }


.avgtimetxt {
   text-align: center;
   font-size: 1.25em;
   font-weight: 600;
   line-height: 2em;
   font-family: sans-serif; /* or cursive */
   color: #222;
}

.settingsections {
   position: relative;
}

.settingsblock button {
   position: absolute;
   top: 0;
   right: 0;
}


.settingHeaderTxt {
   font-size: 1.25em;
   font-weight: 600;
   line-height: 2em;
   font-family: sans-serif; /* or cursive */
   color: #222;
}

.settingTxt {
   text-align: center;
   font-size: 1em;
   font-weight: 500;
   line-height: 2em;
   font-family: sans-serif; /* or cursive */
   color: #222;
}

hr {
   height: 0.1em;
   margin: 1.5em 0;
   border-radius: 5em;
   border: none;
   background-color: #555;
}

.settingsDivider {
   height: 0.005em;
   margin: 0.75em 0;
}

.complete-summary {
   margin: 0.4em 0;
   display: flex;
   align-items: center;
   gap: 0.25em;
}

.completed-activity-summary-icon {
   font-size: 1.3em;
   color: #555;
}

/* Suggestions */
.suggestion-element {
   position: relative;
   margin: .8rem 2rem;
   padding: 1rem .8rem;
   border-radius: var(--container-border-radius);
   border: solid 0.12em #eee;
   border-left: solid .4em #ccc;
   text-align: center;
   background-color: #fff;
   transition: .2s;
}

.suggestion-element:hover {
   border-color: #aaa;
   padding-left: 1.3em;
   transform: scale(1.1);
}

.suggestion-element span {
   position: absolute;
   top: .7em;
   right: .7em;
}

#myChart {
   max-width: 45vw;
}



.redo-activty-icon {
   transition: .1s;
}

.redo-activty-icon:hover {
   transform: scale(1.2);
}

.history .controls {
   position: absolute;
   top: 0;
   right: 0;
   background-color: none;
   padding: 0;
   margin: .6rem .4rem;
}

.history .control-button {
   height: 1rem;
   width: 1rem;
   padding: 0.6rem;
   font-size: 0.6rem;
}

.history h4 {
   font-weight: 600;
   font-size: 1.2em;
}

.history .time {
   color: #444;
}

.new-activity-container {
   grid-template-columns: 70% 30%;
}


/* Layout */
@media screen and (max-width: 900px) {
   body {
      grid-template-columns: 100%;
      grid-template-rows: 70px auto;
   }
   .nav {
      height: 70px;
      width: 100vw;
      border-radius: 0;
      text-align: center;
   }
   .nav-icon {
      display: inline-flex;
   }
   .content {
      border-radius: 0;
   }
   .content-parent {
      height: calc(100vh - 70px);
      padding: 0;
   }
   .page {
      padding: .5rem;
   }
   .page-inner {
      grid-template-columns: 100%;
   }
   .history-items {
      grid-template-columns: 100%;
   }
   #myChart {
      max-width: 90vw;
   }
   .settingsblock button {
      position: static;
      margin: .6rem auto;
      align-self: right;
   }
   fieldset {
      margin: none;
      padding: 0;
      border: none;
   }
   .activity {
      margin: .5rem 0;
      padding: .6rem 1rem;
   }
   .main-page-inner {
      display: flex;
      flex-direction: column-reverse;
   }
   .suggestion-element {
      margin: .6rem 0;
      padding: .8rem;
   }
   .suggestion-element span {
      top: .5em;
      right: .5em;
   }
   .new-activity-container {
      grid-template-columns: 100%;
   }
   .newActivity {
      margin: .4rem 0;
   }
   legend {
      margin-bottom: .4rem;
   }
}

/* So it won't hurt your eyes ;) */
@media (prefers-color-scheme: dark) {
   .settingHeaderTxt {
      color: #fff;
   }
   .suggestion-element {
      border-color: #404040;
      border-left: solid .4em #525252;
      background-color: #262626;
   }
   .suggestion-element:hover {
      border-color: #aaa;
      padding-left: 1.3em;
      transform: scale(1.1);
   }
   .suggestion-element:hover {
      border-color: #a3a3a3;
   }
   .completed-activity-summary-icon {
      color: #aaa;
   }
   .settingTxt {
      color: #ddd;
   }
   .avgtimetxt {
      color: #ddd;
   }
   .activity {
      background-color: #222;
      box-shadow: 0 0.1em 0.3em #111;
   }
   .avgtimeblock {
      border-color: #ddd;
   }
   button {
      color: #eee;
      border-color: #eee;
   }
   button:hover {
      color: #222;
      background-color: #eee;
   }
   button:focus {
      box-shadow: 0 0 0 0.2em #000;
   }
   fieldset {
      border-color: #444;
   }
   legend {
      background-color: #444;
      color: #eee;
   }
   * {
      color: #eee;
   }
   input:focus {
      box-shadow: 0 0 0 0.2em #000;
   }
   .history .time {
      color: #aaa;
   }
}
